{% extends 'base.html' %}

{% block 'title' %}Delete {{ category.name }}?{% endblock %}
{% block 'header' %} Delete Category {{ category.name }} {% endblock 'header' %}


{% block 'content' %}
<div class="confirm-delete">
	<p>Are you sure you want to delete {{ category.name }}?</p>
	<form action"{% url 'candy:deletecategory' category.id %}" method="POST">
		{% csrf_token %}
		{{ form }}
		<button class="btn btn-delete">Delete</button>
		<a href="{% url 'candy:index' %}" class="btn btn-cancel">Cancel</a>
	</form>
</div>
{% endblock %}
