{% extends 'base.html' %}

{% block 'title' %}{% if category %}Update{% else %}Add{% endif %} Category{% endblock %}

{% block 'header' %} {% if category %} Update {% else %} Add {% endif %} a Category {% endblock 'header' %}

{% block 'content' %}

<!--
<div id="hello">
  Hello World!
</div>
<button id="mybutton" onclick="goodbye()">Say Goodbye</button>
-->

<div id="status" class="alert alert-success" style="display: none;" role="alert"></div>

<form action="." method="post" class="form" role="form" id="categoryform">
	{% csrf_token %}
	{% for field in form %}
		<div class="form-group">
		{{ field.label_tag }}
		{{ field }}
		</div>
	{% endfor %}
	<button class="btn btn-primary">{% if category %} Update {% else %} Add {% endif %}</button>
</form>

{% endblock %}
