{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block 'title' %} {{ category.name }}{% endblock 'title' %}
{% block 'header' %} {{ category.name }} {% endblock 'header' %}

{% block 'content' %}

{% include "candy/category_list.html" with category_list=category.category_group.all %}

{% for item in category.item_set.all %}
	<a href="{% url 'candy:updateitem' item.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a href="{% url 'candy:deleteitem' item.id %}"><span class="glyphicon glyphicon-trash"></span></a>
	<div class="item-list">
		{% thumbnail item.image "200x200" as im %}
			<img src"{{ im.url }}" alt="{{ item.name }}">
		{% endthumbnail %}
		<h2>{{ item.name }}</h2>
		<p>{{ item.description }}</p>
		</div>

{% endfor %}

{% if not category.item_set.all and not category.category_group.all %}
	<a href="#">Be the first to add a category or an item in this group!</a>
{% endif %}

{% endblock 'content' %}
