{% extends 'base.html' %}

{% block 'title' %}{% if item %}Update{% else %}Add{% endif %} Item{% endblock %}

{% block 'content' %}

<h1>{% if item %} Update {% else %} Add {% endif %} a Item</h1>

<form action="." method="post" class="form" role="form">
	{% csrf_token %}
	{% for field in form %}
		<div class="form-group">
		{{ field.label_tag }}
		{{ field }}
		</div>
	{% endfor %}
	<button class="btn btn-default">{% if item %} Update {% else %} Add {% endif %}</button>
</form>

{% endblock %}
