{% extends 'base.html' %}

{% block 'title' %}Delete {{ item.name }}?{% endblock %}
{% block 'header' %} Delete Item {{ item.name }}{% endblock 'header' %}

{% block 'content' %}
<div class="confirm-delete">
	<p>Are you sure you want to delete {{ item.name }}?</p>
	<form action"{% url 'candy:deleteitem' item.id %}" method="POST">
		{% csrf_token %}
		{{ form }}
		<button class="btn btn-delete">Delete</button>
		<a href="{% url 'candy:categorydetail' item.category.id %}" class="btn btn-cancel">Cancel</a>
	</form>
</div>
{% endblock %}
